# pyenv
.python-version

*.ipynb_checkpoints

# virtenvs
venv/
.venv/
ENV/
.env
Pipfile.lock



# ignore all dot files and triple underscored:
.*/
___*
# but not:
!*/.gitignore

*.sublime-workspace
nohup.out
