<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>static_resources</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<!-- css & themes include -->
	<link rel="stylesheet" href="/ProgressBG-VC-Django-Slides/lib/reveal.js/css/reveal.css">
	<link rel="stylesheet" href="/ProgressBG-VC-Django-Slides/outfit/css/themes/projector.css" id="theme">
	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement( 'link' );
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match( /print-pdf/gi ) ? '/ProgressBG-VC-Django-Slides/lib/reveal.js/css/print/pdf.css' : '/ProgressBG-VC-Django-Slides/lib/reveal.js/css/print/paper.css';
		document.getElementsByTagName( 'head' )[0].appendChild( link );
	</script>
	<!--[if lt IE 9]>
	<script src="lib/js/html5shiv.js"></script>
	<![endif]-->
	<!-- CUSTOM -->
	<base target="_blank">
</head>
<body>
	<div class="reveal default center" data-transition-speed="default" data-background-transition="default">
		<div class="top_links">
			<a class="home_link" href="/ProgressBG-VC-Django-Slides/pages/agenda/agenda.html#static_resources" target="_top"><i class="fa fa-home"></i></a>
			<span class="help_link" href="#"><i class="fa fa-question"></i></span>
			<div class="help_text">
				<div><span>N/Space</span><span>previous slide</span></div>
				<div><span>P</span><span>next slide</span></div>
				<div><span>O</span><span>overview slides</span></div>
				<div><span>ctrl+left click</span><span>zoom element</span></div>
			</div>
		</div>
		<div class="footer theme_switch">
			<a href="#" onclick="document.getElementById('theme').setAttribute('href','/ProgressBG-VC-Django-Slides/outfit/css/themes/dark.css'); return false;">Dark</a>
			<a href="#" onclick="document.getElementById('theme').setAttribute('href','/ProgressBG-VC-Django-Slides/outfit/css/themes/light.css'); return false;">Light</a>
			<a href="#" onclick="document.getElementById('theme').setAttribute('href','/ProgressBG-VC-Django-Slides/outfit/css/themes/projector.css'); return false;">Projector</a>
		</div>
		<div class="slides">
<!--
########################################################
##################### SLIDES START #####################
########################################################
-->
<section><h1>Django and static resources (images, JavaScript, CSS, etc.)</h1></section>
<section data-transition="zoom">
	<!-- linkedin badge -->
	<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
	<section class="copyright" data-transition="zoom">
		<div class="note">
			<p>Created for</p>
		</div>
		<div class="company">
			<a href="http://progressbg.net/програмиране-с-python-2/">
			<img style="height:80%" src="/ProgressBG-VC-Django-Slides/outfit/images/logos/ProgressBG_logo_529_127.png">
			</a>
		</div>
		<div class="author">
			<span class="note">Iva E. Popova, 2018-2019:</span>
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"></a>
		</div>
	</section>
	<section class="copyright" data-transition="zoom" style="margin-top: -2em;">
		<div class="company">
			 <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="ivapopova"><a class="LI-simple-link" href='https://bg.linkedin.com/in/ivapopova?trk=profile-badge'>Iva E. Popova on LinkedIn</a></div>
		</div>
	</section>
</section>

<section data-min="40"><h1>Access Static Resources in Django Templates</h1></section>
<section><h2>Access Static Resources in Django Templates</h2>
  <section><h3>Overview</h3>
  	<dl class="fa">
  		<dt><span class="note">Dynamic files</span> are the files dynamically generated by Django, usually using a Template System</dt>
  		<dt><span class="note">Static files</span> are images, CSS, JavaScript, etc. files which also have to be served by our app</dt>
  		<dt>We want our project to be flexible for future changes, that's why we <span class="note">do not want to hardcode</span> the paths to those static resources.</dt>
  	</dl>
  </section>
  <section><h3>Overview</h3>
  	<dl class="fa">
  		<dt>Django has a builtin module (django.contrib.staticfiles), that collects static files from each of your applications (and any other places you specify) into a single location that can easily be served in production.</dt>
  	</dl>
  </section>
</section>

<section data-min="10"><h1>How to organize the static files in project?</h1></section>
<section><h2>How to organize the static files in project?</h2>
  <section><h3>Overview</h3>
  	<dl class="fa">
  		<dt>Django’s STATICFILES_FINDERS setting contains a list of finders that know how to discover static files from various sources. One of the defaults is AppDirectoriesFinder which looks for a “static” subdirectory in each of the INSTALLED_APPS,</dt>
  	</dl>
  </section>
  <section><h3>Configuring static files</h3>
  	<dl class="fa">
  		<dt>Make sure that <code>django.contrib.staticfiles</code> is included in your INSTALLED_APPS section in 'settings.py'</dt>
  		<dt>In settings.py, define the STATIC_URL, giving it the path to your static files </dt>
  	</dl>
  	<pre><code rel="todo_app.settings.py" class="python">
  		INSTALLED_APPS = [
  		    'todo_app',
  		   	#...
  		    'django.contrib.staticfiles',
  		]
  		#...
  		STATIC_URL = '/static/'
  	</code></pre>
  </section>
  <section><h3>Configuring static files</h3>
  	<dl class="fa">
  		<dt>Store your static files in a folder called <code>{app_name}/static/{app_name}/</code></dt>
  	</dl>
  	<pre><code rel="Terminal" class="bash">
  		app_name/
  		├── ...
  		|
  		├── static
  		│   └── app_name
  		│       └── example.jpg  	 
  		├── templates
  		│   └── app_name
  		│       └── base.html
  		|...
  	</code></pre>
  </section>
  <section><h3>Using static files</h3>
  	<dl class="fa">
  		<dt>In your templates, use the static template tag to build the URL for the given relative path using the configured STATICFILES_STORAGE.</dt>
  		<dt>The {% static %} template tag generates the absolute URL of static files.</dt>
  	</dl>
  	<pre><code rel="app_name/base.html" class="html">
  		{% load static %}

  		<img src="{% static "app_name/example.jpg" %}" alt="My image">
  	</code></pre>
  </section>
  <section><h3>Adding per-project static files</h3>
  	<dl class="fa">
  		<dt>For static files, which will be common to your apps, is better to have them in one place</dt>
  		<dt>We can easily define another folder (i.e. <code>{project_folder}/common/static/</code>) for Django to look for static files in the <code>settings.py</code>, <em>STATICFILES_DIRS</em> section</dt>
  		<pre><code rel="JS" class="js">
  			STATICFILES_DIRS = [
  			    os.path.join(BASE_DIR, "common", "static")
  			]
  		</code></pre>
  	</dl>
  </section>
  <section><h3>Demo</h3>
  	<dl class="fa">
  		<dt>Create (if you don't have it) the <code>demos</code> app in our todo_project</dt>
  		<dt>Set the route: <code>path('static', views.static, name="static")</code></dt>
  		<dt>Create the view, as given bellow:</dt>
  		<pre><code rel="todo_project/demos/views.py" class="python">
  			def static(request):
  			    context = {
  			        'title': "Static files demo"
  			    }

  			    template_file = 'demos/static.html'


  			    return render(request, template_file, context)
  		</code></pre>
  	</dl>
  </section>
  <section><h3>Demo - folder structure</h3>
  	<dl class="fa">
  		<dt>Download some images from <a href="https://unsplash.com/">unsplash.com</a></dt>
  		<dt>Organise your files as given bellow:</dt>
  	</dl>
  	<pre><code rel="JS" class="js">
  		todo_project/
  		├── db.sqlite3
  		├── demos
  		│   ├── ...
  		│   ├── static
  		│   │   └── demos
  		│   │       ├── images
  		│   │       │   ├── james-eades-1391061-unsplash.jpg
  		│   │       │   └── phoenix-han-1386167-unsplash.jpg
  		│   │       └── main.css
  		│   ├── templates
  		│   │   └── demos
  		│   │       ├── base.html
  		│   │       ├── static.html
  	</code></pre>
  </section>
  <section><h3>the base Template</h3>
  	<pre><code rel="templates/demos/base.html" class="html">
  		{% load static %}

  		&lt;!DOCTYPE html&gt;
  		&lt;html&gt;
  		&lt;head&gt;
  			&lt;title&gt;&lt;/title&gt;
  		  &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;{% static 'demos/main.css'%}&quot;&gt;
  		&lt;/head&gt;
  		&lt;body&gt;
  			&lt;h1&gt;{{title}}&lt;/h1&gt;
  			{% block content %}
  			{% endblock %}
  		&lt;/body&gt;
  		&lt;/html&gt;
  	</code></pre>
  </section>
  <section><h3>the static.html template</h3>
  	<pre><code rel="templates/demos/static.html" class="html">
  		{% extends 'demos/base.html' %}
  		{% load static %}

  		{% block content %}
  		    <img src="{% static "demos/images/james-eades-1391061-unsplash.jpg" %}" alt="james-eades">
  		    <img src="{% static "demos/images/phoenix-han-1386167-unsplash.jpg" %}" alt="james-eades">
  		{% endblock %}
  	</code></pre>
  </section>
  <section><h3>the main.css</h3>
  	<pre><code rel="static/demos/main.css" class="css">
  		body{
  		  background: #666;
  		  color: #CCC;
  		}
  		img{
  		  height: 30vh;
  		}
  	</code></pre>
  </section>
  <section><h3>result</h3>
  	<dl class="fa">
  		<dt>Point your browser to <a href="http://127.0.0.1:8000/demos/static">http://127.0.0.1:8000/demos/static</a> and you must something similar to:</dt>
  		<a href="images/static_files_demos.png"><img src="images/static_files_demos.png"></a>
  	</dl>
  </section>
</section>

<section id="hw"><h1>Exercises</h1></section>
<section><h2>todo_app styling</h2>
	<section><h3>The Task</h3>
		<dl class="fa">
			<dt>Add some styling for todo app</dt>
			<dd>You can use the <a href="https://www.w3schools.com/howto/howto_js_todolist.asp">How TO - Create a To Do List @w3schools</a> for the HTML/CSS part of the task</dd>
		</dl>
	</section>
</section>
<!--
<section><h3>Submission</h3>
	<dl class="fa">
		<dt>Please, prefix your filenames/archive with your name initials, before sending.</dt>
		<dd>For instance: <b>iep_task1.py</b> or <b>iep_tasks.rar</b></dd>
		<dt>Send files to <a href="mailto:progressbg.python.course@gmail.com?Subject=HW: static_resources">progressbg.python.course@gmail.com</a></dt>
	</dl>
</section> -->



<section class="disclaimer" data-background="/ProgressBG-VC-Django-Slides/outfit/images/for_slides/the_end_on_sand.jpg">
	 <p>These slides are based on</p>
	 <p>customised version of </p>
	 <p><a href="http://hakim.se/">Hakimel</a>'s <a href="http://lab.hakim.se/reveal-js">reveal.js</a></p>
	 <p>framework</p>
</section>
<!--
########################################################
##################### SLIDES END   #####################
########################################################
-->
		</div>
	</div>
	<!-- Custom processing -->
	<script src="/ProgressBG-VC-Django-Slides/outfit/js/slides.js"></script>
	<!-- external scripts -->
	<script src="/ProgressBG-VC-Django-Slides/lib/reveal.js/lib/js/head.min.js"></script>
	<script src="/ProgressBG-VC-Django-Slides/lib/reveal.js/js/reveal.js"></script>
	 <!-- init reveal -->
	<script>
		// Full list of configuration options available at:
		// https://github.com/hakimel/reveal.js#configuration
		var highlightjsTabSize = '  ';
		Reveal.initialize({
			controls: true,
			progress: true,
			slideNumber: 'c/t',
			keyboard: true,
			history: true,
			center: true,
			width: 1024,
			height: 850,
			// Bounds for smallest/largest possible scale to apply to content
			// minScale: .5,
			maxScale: 1,
			// slide transition
			transition: 'concave', // none/fade/slide/convex/concave/zoom
			// Factor of the display size that should remain empty around the content
			margin: 0.1,
			// shift+maous click to zoom in/out element
			zoomKey: 'ctrl',
			// theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
			// transition: Reveal.getQueryHash().transition || 'default'
			// Optional reveal.js plugins
			dependencies: [
				{ src: '/ProgressBG-VC-Django-Slides/lib/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
				{ src: '/ProgressBG-VC-Django-Slides/lib/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: '/ProgressBG-VC-Django-Slides/lib/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: '/ProgressBG-VC-Django-Slides/lib/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.configure({tabReplace: highlightjsTabSize}); hljs.initHighlightingOnLoad(); } },
				{ src: '/ProgressBG-VC-Django-Slides/lib/reveal.js/plugin/zoom-js/zoom.js', async: true },
				{ src: '/ProgressBG-VC-Django-Slides/lib/reveal.js/plugin/notes/notes.js', async: true }
			]
		});
	</script>
</body>
</html>
